<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

	<!-- Enable features -->
	<featureManager>
		<feature>localConnector-1.0</feature>
		<feature>jakartaee-8.0</feature>
		<feature>microprofile-4.1</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint"
		httpPort="9080"
		httpsPort="9443" />

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>

	<!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
	<ssl id="defaultSSLConfig" trustDefaultCerts="true" />

	<!-- Include jdbc connector -->
	<library id="jdbcLib">
		<fileset dir="jdbc" includes="*.jar"/>
	</library>

	<!-- define the datasource -->
	<dataSource jndiName="jdbc/myDB">
		<jdbcDriver libraryRef="jdbcLib"/>
		<properties serverName="localhost" portNumber="3306"
			databaseName="myDB"
			user="exampleUser"
			password="examplePassword"/>
	</dataSource>

	<!-- define a simble basicRegistry, open liberty was complaining without it -->
	<basicRegistry>

		<user password="{xor}MjQwb2Y2NTE=" name="jdcalus" />

		<group name="2">

			<member name="jdcalus" />

		</group>

	</basicRegistry>
</server>
