/* Default style sheet */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	padding: 1em;
	background-color: #99f;
	color: white;
}

#header h1 {
	font-size: 120%;
	text-align: center;
}

#content {
	padding: 1em;
}

#content table {
	border-collapse: collapse;
}

#content table td, #content table th {
	border: 1px solid #99f;
	padding: 0.3em 0.5em;
}

#footer {
	padding: 0.5em;
	background-color: #99f;
	border-top: 1px solid blue;
	text-align: right;
}
